body{
    padding: 10px;
    text-align: center;
    background-color:black;


    h1 {
    color:blueviolet;
    font-size: 75px;
    font-family: fantasy;
}

img {
    width: 530px;
    height: 500px;
    padding: 20px;
}

p {
    width: 50%;
    margin: auto;
    font-size: 35px;
    color: darkorchid;
    font-family: Bradley Hand ITC;
}



}





